@model assn2.Models.Client

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.clientRefNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clientRefNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.month)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.month)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.day)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.day)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.policeFileNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.policeFileNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.courtFileNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.courtFileNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SWCFileNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SWCFileNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RiskAssessmentAssignee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RiskAssessmentAssignee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AbuserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AbuserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numToddler)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numToddler)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numChildren)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numChildren)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numYouth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numYouth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateLastTransferred)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateLastTransferred)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateClosed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateClosed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateReOpened)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateReOpened)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
